@charset "utf-8";
/* CSS Document */

.h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

.h2 {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	font-variant:inherit;
	font-weight:normal;
	color:#000000;
}

.h3 {
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	font-varient:inherit;
	font-style:oblique;
	font-weight:bold;
	}
	
.h4 {
	font-family:"Times New Roman", Times, serif;
	font-size:16px;
	font-varient:inherit;
	font-style:oblique;
	color:#FFFFFF
	}